
// Colors
$color-black: #000;
$color-white: #FFF;

// Website Theme Colors

$theme-color-blue: #0D1790;
$theme-color-dark-blue: #040A56;
$theme-color-light-blue: #091075;

// Grey Background
$theme-color-grey: #f7f7f7;

// Break points
$small-device-width: 767px;