@supports (display: grid){
    .grid{
        display: grid;

        &--template-columns-skills{
            grid-template-columns: repeat(3, minmax(12.5em, 1fr));
        }

        &--justify-items-center{
            justify-items: center;
        }

        &--align-items-center{
            align-items: center;
        }

        &--gap-1{
            grid-gap: 1em;
        }

        &--gap-2{
            grid-gap: 2em;
        }

        &--gap-3{
            grid-gap: 3em;
        }
    }
}